@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-font: 'Jost', sans-serif;
    --style-heading-font: 'Clicker Script', sans-serif;
}